[submodule "frontend"]
	path = frontend
	url = https://github.com/VishaL6i9/NextJS-LMS_Sigmat.git
	branch = master
[submodule "backend"]
	path = backend
	url = https://github.com/VishaL6i9/SpringBoot-LMS_Sigmat.git
	branch = main
